<h1>Creating a new article</h1>
<form method="POST" action="/articles">
    <br><p>Title: <input type="text" name="title"></p></br>
    <br><p>Content: <input type="text" name="content"></p></br>
    <br><input type="submit"></br>
</form>