<h2>Create Article</h2>

<form method="POST" action='/articles'>
    Title: <input type="text" name="title">
    Content: <input type="text" name="content">
    <input id="submit" type="submit">
</form>